@font-face {
  font-family: ant-light;
  src: url('./files/ant_light.ttf') format('truetype');
}

@font-face {
  font-family: ant_mid_black;
  src: url('./files/ant_mid_black.ttf') format('truetype');
}

@font-face {
  font-family: ant_mid_bold;
  src: url('./files/ant_mid_bold.ttf') format('truetype');
}

@font-face {
  font-family: ant_normal;
  src: url('./files/ant_normal.ttf') format('truetype');
}