.night {
  // 全局背景色
  --bg_color: #151D29;

  // 导航栏色
  --navbar_color: #101720;

  // 标签栏色
  --label_color: #222A36;

  // 卡片色
  --card_color: #1C2533;

  // 卡片信息色
  --card_info_color: #1A232E;

  // 重分割
  --weight_line_color: #02060A;

  // 强分割
  --heavy_line_color: #2C3541;

  // 常规分割
  --card_line_color: #202935;

  // 悬浮色
  --hover_color: #192230;

  // 高亮色
  --highlight_color: #192639;

  // 报价红
  --red_color: #E0435D;

  // 报价绿
  --green_color: #02A88B;

  // 主色蓝
  --blue_color: #4D94FF;

  // 元宝橙
  --orange_color: #EB8C38;

  // 正文
  --main_text_color: #D9DADB;

  // 辅助文本
  --main_sub_text_color: #8D96A6;

  // 弱文本
  --light_text_color: #5D6574;

  // 反白文本
  --white_text_color: #FFFFFF;
}