.day {
  // 全局背景色
  --bg_color: #FFFFFF;

  // 导航栏色
  --navbar_color: #F5F7FA;

  // 标签栏色
  --label_color: #EDF0F5;

  // 卡片色
  --card_color: #F4F7FB;

  // 卡片信息色
  --card_info_color: #F5F7FA;

  // 重分割
  --weight_line_color: #DAE1EB;

  // 强分割
  --heavy_line_color: #E2E5E9;

  // 常规分割
  --card_line_color: #F4F5F6;

  // 悬浮色
  --hover_color: #F7F9FC;

  // 高亮色
  --highlight_color: #F1F7FF;

  // 报价红
  --red_color: #EC4A49;

  // 报价绿
  --green_color: #00B071;

  // 主色蓝
  --blue_color: #4983F5;

  // 元宝橙
  --orange_color: #F5791B;

  // 正文
  --main_text_color: #1C2533;

  // 辅助文本
  --main_sub_text_color: #6F7B8F;

  // 弱文本
  --light_text_color: #A9B0BC;

  // 反白文本
  --white_text_color: #FFFFFF;
}